---
layout: page
title: Writing an Embedded OS
subtitle: Diving into bare-metal microcontroller programming
---

<div class="posts-list">
  {% for post in site.zeptos %}
  <article class="post-preview">
    {% if post.todo != true %}<a href="{{ post.url | prepend: site.baseurl }}">{% endif %}
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    {% if post.todo != true %}</a>{% endif %}

{% comment %}
    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
{% endcomment %}
  
    <div class="post-entry">
      {% if post.todo %}
        This is an upcoming part.
      {% else %}
        {{post.content | truncatewords: 50 | strip_html}}
	      <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
      {% endif %}
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
